<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CrossbarSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <CrossbarSwitch.Properties.Settings>
            <setting name="StepMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenReq" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TactLenght" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ComboBox1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ComboBox2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ComboBox3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ComboBox4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ModTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Visualisation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackBar2" serializeAs="String">
                <value>500</value>
            </setting>
        </CrossbarSwitch.Properties.Settings>
    </userSettings>
</configuration>
